body {
    background-image: linear-gradient(to bottom, #424f5c, #36414b, #2a333b, #1f262c, #14191d);
    background-repeat: no-repeat;
    width:1200px;
    height: 900px;
    margin: 20px auto;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #424f5c;
    text-align: center;

}

header {
    height: 80px;
    width: 100%;
    font-size: 36px;
}

.fancy {
    font-family: 'Rubik Wet Paint', cursive;
    background: linear-gradient(
      to right, 
      #a75f5f, 
      #7f1717
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px  #14191d;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

.game {
    background-color:#c8c7c6;
    height: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    padding: 20px;
    margin: 0 auto;
    border: 3px solid #a2a9b0; 
    border-radius: 10px;
    outline: 2px solid #14191d;
}

.game-info {
    background-color: #d8d6d5;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    line-height: 0.6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info {
    width: 200px;
    height:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

.roundI {
    width: 100px;
}
.diff {
    width: 230px;
}

.score {
    width: 230px;
}

.lives {
    width: 360px;
}

.info-desc {
    height: 100%;
    margin-right: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.info-value {
    height: 100%;
    margin: 0;
    margin-right: 10px;
    padding-top: 5px;
    color: #a75f5f;
}

.display-lives {
    margin-bottom: 5px;
    font-size: 30px;
}
.hangman-zone {
    background-color: #d8d6d5;
    height: 500px;
    width: 450px;
    margin: 0 auto;
    border: 2px solid #a2a9b0;
    border-radius: 10px;
}


#hangman-drawing {
   width:300px;
   height: 300px;
   margin: 0 auto;
}
.choose-letter {
    height: 40%;
    width: 80%;
    margin: 0 auto;
}

.letters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

}
.letter {
    background-color:#adb6be;
    width: 40px;
    height: 40px;
    margin: 5px; 
    border: 2px solid #a2a9b0;
    border-radius: 5px;  
}

.word {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popup {
    background-color: white;
    position: absolute;
    width: 540px;
    height: 200px;
    margin-left: 270px;
    margin-top:  150px;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}

.wonRound {
    z-index: -1;
}

.lostRound {
    z-index: -1;
}

.gameOver {
    z-index: -1;
}

footer {
    height: 50px;
    width: 100%;
    padding-top: 20px;
    color: #d8d6d5;
}

button {
    background-color: #9a4e4e;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid  #14191d;
    color: #d8d6d5;
    font-size: 18px;
}


