body {
    width:1200px;
    height: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Karla', sans-serif;
    background-image: linear-gradient(to bottom, #424f5c, #36414b, #2a333b, #1f262c, #14191d);
    color: #424f5c;
    font-size: 18px;

}

header {
    height: 80px;
    width: 100%;
    font-size: 36px;
}

.fancy {
    font-family: 'Rubik Wet Paint', cursive;
    background: linear-gradient(
      to right, 
      #A75F5F, 
      rgb(127, 23, 23)
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px  #14191d;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

.game {
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    height: 600px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    border: 3px solid #a2a9b0; 
    border-radius: 10px;
    background-color:#c8c7c6;
    outline: 2px solid #14191d;
}

.game-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    line-height: 0.6;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #d8d6d5;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height:20px;
    margin: 5px;
    font-size: 16px;
}

.info-desc {
    margin: 0;
    height: 100%;
    margin-right: 10px;
    padding: 0 5px 0 5px;
    font-weight: bold;
}

.info-value {
    margin: 0;
    margin-right: 10px;
    height: 100%;
    padding: 0 5px 0 5px;
    color:  rgb(167, 95, 95);
}

.display-lives {
    font-size: 30px;
    margin: 0;
}
.hangman-zone {
    border: 2px solid #a2a9b0;
    background-color: #d8d6d5;
    border-radius: 10px;
    margin: 0 auto;
    height: 500px;
    width: 450px;
}


#hangman-drawing {
   width:300px;
   height: 300px;
   margin: 0 auto;
}
.choose-letter {
    height: 40%;
    width: 100%;
}

.letters {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.letter {
    border: 2px solid #a2a9b0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 5px; 
    background-color:#adb6be;
    
}

.word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
}

.popup {
    position: absolute;
    margin-left: 270px;
    margin-top:  150px;
    width: 540px;
    height: 200px;
    background-color: white;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}

.wonRound {
    z-index: -1;
}

.lostRound {
    z-index: -1;
}

footer {
    height: 50px;
    width: 100%;
    color: #d8d6d5;
    padding-top: 20px;
}

button {
    background-color: rgb(154, 78, 78);
    color: #d8d6d5;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid  #14191d;
    width: 80px;
    height: 30px;
}